<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/city-bus-route-search-engine?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;characterEncoding=utf8
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password"/>

        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.BusStop"/>
        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.Street"/>
        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.BusRoute"/>
        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.Timetable"/>
        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.TravelTime"/>
        <mapping class="com.github.krystian211.city.bus.route.search.engine.model.Employee"/>

    </session-factory>
</hibernate-configuration>