<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus route search engine</title>
    <link rel="stylesheet" href="/bus-stops.css">
    <link rel="stylesheet" href="/common-elements.css">
</head>
<body>
<div th:replace="common-elements.html::menu"></div>
<div>
    <fieldset class="bus-stops-fieldset">
        <legend>Przystanki</legend>
        <div th:each="busStop:${busStopList}" class="bus-stop-div">
            <a th:href="@{/timetables/streets/bus-stops/bus-routes(busStopId=${busStop.id})}" th:text="${busStop.name}" class="common-button-link"></a>
        </div>
    </fieldset>
</div>
</body>
</html>